case pagetodisplay
  when "title": include ../../Public/Books/Book1/OPS/title.xml
  when "about": include ../../Public/Books/Book1/OPS/about.xml
  when "main0": include ../../Public/Books/Book1/OPS/main0.xml
  when "main1": include ../../Public/Books/Book1/OPS/main1.xml
  when "main2": include ../../Public/Books/Book1/OPS/main2.xml
  when "main3": include ../../Public/Books/Book1/OPS/main3.xml
  when "main4": include ../../Public/Books/Book1/OPS/main4.xml
  when "main5": include ../../Public/Books/Book1/OPS/main5.xml
  when "main6": include ../../Public/Books/Book1/OPS/main6.xml
  when "main7": include ../../Public/Books/Book1/OPS/main7.xml
  default: include ../../Public/Books/Book1/OPS/title.xml