case pagetodisplay
  when "title": include ../../Public/Books/Book2/OPS/title.xml
  when "about": include ../../Public/Books/Book2/OPS/about.xml
  when "main1": include ../../Public/Books/Book2/OPS/main1.xml
  when "main2": include ../../Public/Books/Book2/OPS/main2.xml
  when "main3": include ../../Public/Books/Book2/OPS/main3.xml
  when "main4.xml#section_79470"": include ../../Public/Books/Book2/OPS/main4.xml#section_79470".xml
  when "main5.xml#section_79472"": include ../../Public/Books/Book2/OPS/main5.xml#section_79472".xml
  when "main6.xml#section_79474"": include ../../Public/Books/Book2/OPS/main6.xml#section_79474".xml
  when "main7.xml#section_79476"": include ../../Public/Books/Book2/OPS/main7.xml#section_79476".xml
  when "main8.xml#section_79478"": include ../../Public/Books/Book2/OPS/main8.xml#section_79478".xml
  when "main9.xml#section_79480"": include ../../Public/Books/Book2/OPS/main9.xml#section_79480".xml
  when "main10.xml#section_79482"": include ../../Public/Books/Book2/OPS/main10.xml#section_79482".xml
  when "main11": include ../../Public/Books/Book2/OPS/main11.xml
  when "main12.xml#section_79486"": include ../../Public/Books/Book2/OPS/main12.xml#section_79486".xml
  when "main13.xml#section_79488"": include ../../Public/Books/Book2/OPS/main13.xml#section_79488".xml
  when "main14.xml#section_79490"": include ../../Public/Books/Book2/OPS/main14.xml#section_79490".xml
  when "main15.xml#section_79492"": include ../../Public/Books/Book2/OPS/main15.xml#section_79492".xml
  when "main16.xml#section_79494"": include ../../Public/Books/Book2/OPS/main16.xml#section_79494".xml
  when "main17.xml#section_79496"": include ../../Public/Books/Book2/OPS/main17.xml#section_79496".xml
  when "main18.xml#section_79498"": include ../../Public/Books/Book2/OPS/main18.xml#section_79498".xml
  when "main19": include ../../Public/Books/Book2/OPS/main19.xml
  when "main20.xml#section_79502"": include ../../Public/Books/Book2/OPS/main20.xml#section_79502".xml
  when "main21.xml#section_79504"": include ../../Public/Books/Book2/OPS/main21.xml#section_79504".xml
  when "main22.xml#section_79506"": include ../../Public/Books/Book2/OPS/main22.xml#section_79506".xml
  when "main23.xml#section_79508"": include ../../Public/Books/Book2/OPS/main23.xml#section_79508".xml
  when "main24.xml#section_79510"": include ../../Public/Books/Book2/OPS/main24.xml#section_79510".xml
  when "main25.xml#section_79512"": include ../../Public/Books/Book2/OPS/main25.xml#section_79512".xml
  when "main26": include ../../Public/Books/Book2/OPS/main26.xml
  when "main27.xml#section_79516"": include ../../Public/Books/Book2/OPS/main27.xml#section_79516".xml
  when "main28.xml#section_79518"": include ../../Public/Books/Book2/OPS/main28.xml#section_79518".xml
  when "main29.xml#section_79520"": include ../../Public/Books/Book2/OPS/main29.xml#section_79520".xml
  when "main30.xml#section_79522"": include ../../Public/Books/Book2/OPS/main30.xml#section_79522".xml
  when "main31.xml#section_79524"": include ../../Public/Books/Book2/OPS/main31.xml#section_79524".xml
  when "main32.xml#section_79526"": include ../../Public/Books/Book2/OPS/main32.xml#section_79526".xml
  when "main33.xml#section_79528"": include ../../Public/Books/Book2/OPS/main33.xml#section_79528".xml
  when "main34.xml#section_79530"": include ../../Public/Books/Book2/OPS/main34.xml#section_79530".xml
  when "main35.xml#section_79532"": include ../../Public/Books/Book2/OPS/main35.xml#section_79532".xml
  when "main36.xml#section_79534"": include ../../Public/Books/Book2/OPS/main36.xml#section_79534".xml
  when "main37.xml#section_79536"": include ../../Public/Books/Book2/OPS/main37.xml#section_79536".xml
  when "main38": include ../../Public/Books/Book2/OPS/main38.xml
  when "main39.xml#section_79540"": include ../../Public/Books/Book2/OPS/main39.xml#section_79540".xml
  when "main40.xml#section_79542"": include ../../Public/Books/Book2/OPS/main40.xml#section_79542".xml
  when "main41.xml#section_79544"": include ../../Public/Books/Book2/OPS/main41.xml#section_79544".xml
  when "main42.xml#section_79546"": include ../../Public/Books/Book2/OPS/main42.xml#section_79546".xml
  when "main43.xml#section_79548"": include ../../Public/Books/Book2/OPS/main43.xml#section_79548".xml
  when "main44.xml#section_79550"": include ../../Public/Books/Book2/OPS/main44.xml#section_79550".xml
  when "main45.xml#section_79552"": include ../../Public/Books/Book2/OPS/main45.xml#section_79552".xml
  when "main46.xml#section_79554"": include ../../Public/Books/Book2/OPS/main46.xml#section_79554".xml
  when "main47.xml#section_79556"": include ../../Public/Books/Book2/OPS/main47.xml#section_79556".xml
  when "main48.xml#section_79558"": include ../../Public/Books/Book2/OPS/main48.xml#section_79558".xml
  when "main49.xml#section_79560"": include ../../Public/Books/Book2/OPS/main49.xml#section_79560".xml
  when "main50": include ../../Public/Books/Book2/OPS/main50.xml
  when "main51.xml#section_79564"": include ../../Public/Books/Book2/OPS/main51.xml#section_79564".xml
  when "main52.xml#section_79566"": include ../../Public/Books/Book2/OPS/main52.xml#section_79566".xml
  when "main53.xml#section_79568"": include ../../Public/Books/Book2/OPS/main53.xml#section_79568".xml
  when "main54.xml#section_79570"": include ../../Public/Books/Book2/OPS/main54.xml#section_79570".xml
  when "main55.xml#section_79572"": include ../../Public/Books/Book2/OPS/main55.xml#section_79572".xml
  when "main56.xml#section_79574"": include ../../Public/Books/Book2/OPS/main56.xml#section_79574".xml
  when "main57.xml#section_79576"": include ../../Public/Books/Book2/OPS/main57.xml#section_79576".xml
  when "main58.xml#section_79578"": include ../../Public/Books/Book2/OPS/main58.xml#section_79578".xml
  when "main59.xml#section_79580"": include ../../Public/Books/Book2/OPS/main59.xml#section_79580".xml
  when "main60": include ../../Public/Books/Book2/OPS/main60.xml
  when "main61": include ../../Public/Books/Book2/OPS/main61.xml
  when "main62.xml#section_79587"": include ../../Public/Books/Book2/OPS/main62.xml#section_79587".xml
  when "main63.xml#section_79589"": include ../../Public/Books/Book2/OPS/main63.xml#section_79589".xml
  when "main64.xml#section_79591"": include ../../Public/Books/Book2/OPS/main64.xml#section_79591".xml
  when "main65.xml#section_79593"": include ../../Public/Books/Book2/OPS/main65.xml#section_79593".xml
  when "main66.xml#section_79595"": include ../../Public/Books/Book2/OPS/main66.xml#section_79595".xml
  when "main67.xml#section_79597"": include ../../Public/Books/Book2/OPS/main67.xml#section_79597".xml
  when "main68.xml#section_79599"": include ../../Public/Books/Book2/OPS/main68.xml#section_79599".xml
  when "main69.xml#section_79601"": include ../../Public/Books/Book2/OPS/main69.xml#section_79601".xml
  when "main70": include ../../Public/Books/Book2/OPS/main70.xml
  when "main71.xml#section_79605"": include ../../Public/Books/Book2/OPS/main71.xml#section_79605".xml
  when "main72.xml#section_79607"": include ../../Public/Books/Book2/OPS/main72.xml#section_79607".xml
  when "main73.xml#section_79609"": include ../../Public/Books/Book2/OPS/main73.xml#section_79609".xml
  when "main74.xml#section_79611"": include ../../Public/Books/Book2/OPS/main74.xml#section_79611".xml
  when "main75.xml#section_79613"": include ../../Public/Books/Book2/OPS/main75.xml#section_79613".xml
  when "main76.xml#section_79615"": include ../../Public/Books/Book2/OPS/main76.xml#section_79615".xml
  when "main77.xml#section_79617"": include ../../Public/Books/Book2/OPS/main77.xml#section_79617".xml
  when "main78.xml#section_79619"": include ../../Public/Books/Book2/OPS/main78.xml#section_79619".xml
  when "main79": include ../../Public/Books/Book2/OPS/main79.xml
  when "main80.xml#section_79623"": include ../../Public/Books/Book2/OPS/main80.xml#section_79623".xml
  when "main81.xml#section_79625"": include ../../Public/Books/Book2/OPS/main81.xml#section_79625".xml
  when "main82.xml#section_79627"": include ../../Public/Books/Book2/OPS/main82.xml#section_79627".xml
  when "main83.xml#section_79629"": include ../../Public/Books/Book2/OPS/main83.xml#section_79629".xml
  when "main84.xml#section_79631"": include ../../Public/Books/Book2/OPS/main84.xml#section_79631".xml
  when "main85.xml#section_79633"": include ../../Public/Books/Book2/OPS/main85.xml#section_79633".xml
  when "main86": include ../../Public/Books/Book2/OPS/main86.xml
  when "main87.xml#section_79637"": include ../../Public/Books/Book2/OPS/main87.xml#section_79637".xml
  when "main88.xml#section_79639"": include ../../Public/Books/Book2/OPS/main88.xml#section_79639".xml
  when "main89.xml#section_79641"": include ../../Public/Books/Book2/OPS/main89.xml#section_79641".xml
  when "main90.xml#section_79643"": include ../../Public/Books/Book2/OPS/main90.xml#section_79643".xml
  when "main91.xml#section_79645"": include ../../Public/Books/Book2/OPS/main91.xml#section_79645".xml
  when "main92.xml#section_79647"": include ../../Public/Books/Book2/OPS/main92.xml#section_79647".xml
  when "main93.xml#section_79649"": include ../../Public/Books/Book2/OPS/main93.xml#section_79649".xml
  when "main94": include ../../Public/Books/Book2/OPS/main94.xml
  when "main95.xml#section_79653"": include ../../Public/Books/Book2/OPS/main95.xml#section_79653".xml
  when "main96.xml#section_79655"": include ../../Public/Books/Book2/OPS/main96.xml#section_79655".xml
  when "main97.xml#section_79657"": include ../../Public/Books/Book2/OPS/main97.xml#section_79657".xml
  when "main98.xml#section_79659"": include ../../Public/Books/Book2/OPS/main98.xml#section_79659".xml
  when "main99.xml#section_79661"": include ../../Public/Books/Book2/OPS/main99.xml#section_79661".xml
  when "main100": include ../../Public/Books/Book2/OPS/main100.xml
  when "main101.xml#section_79665"": include ../../Public/Books/Book2/OPS/main101.xml#section_79665".xml
  when "main102.xml#section_79667"": include ../../Public/Books/Book2/OPS/main102.xml#section_79667".xml
  when "main103.xml#section_79669"": include ../../Public/Books/Book2/OPS/main103.xml#section_79669".xml
  when "main104.xml#section_79671"": include ../../Public/Books/Book2/OPS/main104.xml#section_79671".xml
  when "main105.xml#section_79673"": include ../../Public/Books/Book2/OPS/main105.xml#section_79673".xml
  when "main106": include ../../Public/Books/Book2/OPS/main106.xml
  when "main107.xml#section_79677"": include ../../Public/Books/Book2/OPS/main107.xml#section_79677".xml
  when "main108.xml#section_79679"": include ../../Public/Books/Book2/OPS/main108.xml#section_79679".xml
  when "main109.xml#section_79681"": include ../../Public/Books/Book2/OPS/main109.xml#section_79681".xml
  when "main110.xml#section_79683"": include ../../Public/Books/Book2/OPS/main110.xml#section_79683".xml
  when "main111.xml#section_79685"": include ../../Public/Books/Book2/OPS/main111.xml#section_79685".xml
  when "main112.xml#section_79687"": include ../../Public/Books/Book2/OPS/main112.xml#section_79687".xml
  when "main113.xml#section_79689"": include ../../Public/Books/Book2/OPS/main113.xml#section_79689".xml
  when "main114": include ../../Public/Books/Book2/OPS/main114.xml
  when "main115": include ../../Public/Books/Book2/OPS/main115.xml
  default: include ../../Public/Books/Book2/OPS/title.xml