case pagetodisplay
  when "title": include ../../public/Books/Book3/OPS/title.xml
  when "about": include ../../public/Books/Book3/OPS/about.xml
  when "main0": include ../../public/Books/Book3/OPS/main0.xml
  when "main0.xml#section_78610"": include ../../public/Books/Book3/OPS/main0.xml#section_78610".xml
  when "main1.xml#section_78612"": include ../../public/Books/Book3/OPS/main1.xml#section_78612".xml
  when "main2": include ../../public/Books/Book3/OPS/main2.xml
  when "main2.xml#section_78615"": include ../../public/Books/Book3/OPS/main2.xml#section_78615".xml
  when "main3.xml#section_78617"": include ../../public/Books/Book3/OPS/main3.xml#section_78617".xml
  when "main4": include ../../public/Books/Book3/OPS/main4.xml
  when "main4.xml#section_78620"": include ../../public/Books/Book3/OPS/main4.xml#section_78620".xml
  when "main5.xml#section_78622"": include ../../public/Books/Book3/OPS/main5.xml#section_78622".xml
  when "main6": include ../../public/Books/Book3/OPS/main6.xml
  when "main6.xml#section_78625"": include ../../public/Books/Book3/OPS/main6.xml#section_78625".xml
  when "main7.xml#section_78627"": include ../../public/Books/Book3/OPS/main7.xml#section_78627".xml
  when "main8": include ../../public/Books/Book3/OPS/main8.xml
  when "main8.xml#section_78630"": include ../../public/Books/Book3/OPS/main8.xml#section_78630".xml
  default: include ../../public/Books/Book3/OPS/title.xml