case pagetodisplay
  when "title": include ../../Public/Books/Book6/OPS/title.xml
  when "about": include ../../Public/Books/Book6/OPS/about.xml
  when "main0": include ../../Public/Books/Book6/OPS/main0.xml
  when "main0.xml#section_77245"": include ../../Public/Books/Book6/OPS/main0.xml#section_77245".xml
  when "main1.xml#section_77247"": include ../../Public/Books/Book6/OPS/main1.xml#section_77247".xml
  when "main2.xml#section_77249"": include ../../Public/Books/Book6/OPS/main2.xml#section_77249".xml
  when "main3.xml#section_77251"": include ../../Public/Books/Book6/OPS/main3.xml#section_77251".xml
  when "main4.xml#section_77253"": include ../../Public/Books/Book6/OPS/main4.xml#section_77253".xml
  when "main5.xml#section_77255"": include ../../Public/Books/Book6/OPS/main5.xml#section_77255".xml
  when "main6.xml#section_77257"": include ../../Public/Books/Book6/OPS/main6.xml#section_77257".xml
  when "main7": include ../../Public/Books/Book6/OPS/main7.xml
  when "main7.xml#section_77260"": include ../../Public/Books/Book6/OPS/main7.xml#section_77260".xml
  when "main8.xml#section_77262"": include ../../Public/Books/Book6/OPS/main8.xml#section_77262".xml
  when "main9.xml#section_77264"": include ../../Public/Books/Book6/OPS/main9.xml#section_77264".xml
  when "main10.xml#section_77266"": include ../../Public/Books/Book6/OPS/main10.xml#section_77266".xml
  when "main11": include ../../Public/Books/Book6/OPS/main11.xml
  when "main11.xml#section_77269"": include ../../Public/Books/Book6/OPS/main11.xml#section_77269".xml
  when "main12.xml#section_77271"": include ../../Public/Books/Book6/OPS/main12.xml#section_77271".xml
  when "main13.xml#section_77273"": include ../../Public/Books/Book6/OPS/main13.xml#section_77273".xml
  when "main14.xml#section_77275"": include ../../Public/Books/Book6/OPS/main14.xml#section_77275".xml
  when "main15.xml#section_77277"": include ../../Public/Books/Book6/OPS/main15.xml#section_77277".xml
  when "main16.xml#section_77279"": include ../../Public/Books/Book6/OPS/main16.xml#section_77279".xml
  when "main17": include ../../Public/Books/Book6/OPS/main17.xml
  when "main17.xml#section_77282"": include ../../Public/Books/Book6/OPS/main17.xml#section_77282".xml
  when "main18.xml#section_77284"": include ../../Public/Books/Book6/OPS/main18.xml#section_77284".xml
  when "main19.xml#section_77286"": include ../../Public/Books/Book6/OPS/main19.xml#section_77286".xml
  when "main20": include ../../Public/Books/Book6/OPS/main20.xml
  when "main20.xml#section_77289"": include ../../Public/Books/Book6/OPS/main20.xml#section_77289".xml
  when "main21.xml#section_77291"": include ../../Public/Books/Book6/OPS/main21.xml#section_77291".xml
  when "main22.xml#section_77293"": include ../../Public/Books/Book6/OPS/main22.xml#section_77293".xml
  when "main23.xml#section_77295"": include ../../Public/Books/Book6/OPS/main23.xml#section_77295".xml
  when "main24.xml#section_77297"": include ../../Public/Books/Book6/OPS/main24.xml#section_77297".xml
  when "main25.xml#section_77299"": include ../../Public/Books/Book6/OPS/main25.xml#section_77299".xml
  when "main26.xml#section_77301"": include ../../Public/Books/Book6/OPS/main26.xml#section_77301".xml
  default: include ../../Public/Books/Book6/OPS/title.xml