case pagetodisplay
  when "title": include ../../public/Books/Book6/OPS/title.xml
  when "about": include ../../public/Books/Book6/OPS/about.xml
  when "main0": include ../../public/Books/Book6/OPS/main0.xml
  when "main1": include ../../public/Books/Book6/OPS/main1.xml
  when "main2": include ../../public/Books/Book6/OPS/main2.xml
  when "main3": include ../../public/Books/Book6/OPS/main3.xml
  when "main4": include ../../public/Books/Book6/OPS/main4.xml
  when "main5": include ../../public/Books/Book6/OPS/main5.xml
  when "main6": include ../../public/Books/Book6/OPS/main6.xml
  when "main7": include ../../public/Books/Book6/OPS/main7.xml
  when "main8": include ../../public/Books/Book6/OPS/main8.xml
  when "main9": include ../../public/Books/Book6/OPS/main9.xml
  when "main10": include ../../public/Books/Book6/OPS/main10.xml
  when "main11": include ../../public/Books/Book6/OPS/main11.xml
  when "main12": include ../../public/Books/Book6/OPS/main12.xml
  when "main13": include ../../public/Books/Book6/OPS/main13.xml
  when "main14": include ../../public/Books/Book6/OPS/main14.xml
  when "main15": include ../../public/Books/Book6/OPS/main15.xml
  when "main16": include ../../public/Books/Book6/OPS/main16.xml
  when "main17": include ../../public/Books/Book6/OPS/main17.xml
  when "main18": include ../../public/Books/Book6/OPS/main18.xml
  when "main19": include ../../public/Books/Book6/OPS/main19.xml
  when "main20": include ../../public/Books/Book6/OPS/main20.xml
  when "main21": include ../../public/Books/Book6/OPS/main21.xml
  when "main22": include ../../public/Books/Book6/OPS/main22.xml
  when "main23": include ../../public/Books/Book6/OPS/main23.xml
  when "main24": include ../../public/Books/Book6/OPS/main24.xml
  when "main25": include ../../public/Books/Book6/OPS/main25.xml
  when "main26": include ../../public/Books/Book6/OPS/main26.xml
  when "main27": include ../../public/Books/Book6/OPS/main27.xml
  when "main28": include ../../public/Books/Book6/OPS/main28.xml
  when "main29": include ../../public/Books/Book6/OPS/main29.xml
  when "main30": include ../../public/Books/Book6/OPS/main30.xml
  when "main31": include ../../public/Books/Book6/OPS/main31.xml
  when "main32": include ../../public/Books/Book6/OPS/main32.xml
  when "main33": include ../../public/Books/Book6/OPS/main33.xml
  when "main34": include ../../public/Books/Book6/OPS/main34.xml
  when "main35": include ../../public/Books/Book6/OPS/main35.xml
  when "main36": include ../../public/Books/Book6/OPS/main36.xml
  when "main37": include ../../public/Books/Book6/OPS/main37.xml
  when "main38": include ../../public/Books/Book6/OPS/main38.xml
  when "main39": include ../../public/Books/Book6/OPS/main39.xml
  when "main40": include ../../public/Books/Book6/OPS/main40.xml
  when "main41": include ../../public/Books/Book6/OPS/main41.xml
  when "main42": include ../../public/Books/Book6/OPS/main42.xml
  when "main43": include ../../public/Books/Book6/OPS/main43.xml
  when "main44": include ../../public/Books/Book6/OPS/main44.xml
  when "main45": include ../../public/Books/Book6/OPS/main45.xml
  when "main46": include ../../public/Books/Book6/OPS/main46.xml
  when "main47": include ../../public/Books/Book6/OPS/main47.xml
  when "main48": include ../../public/Books/Book6/OPS/main48.xml
  when "main49": include ../../public/Books/Book6/OPS/main49.xml
  when "main50": include ../../public/Books/Book6/OPS/main50.xml
  when "main51": include ../../public/Books/Book6/OPS/main51.xml
  when "main52": include ../../public/Books/Book6/OPS/main52.xml
  when "main53": include ../../public/Books/Book6/OPS/main53.xml
  when "main54": include ../../public/Books/Book6/OPS/main54.xml
  when "main55": include ../../public/Books/Book6/OPS/main55.xml
  when "main56": include ../../public/Books/Book6/OPS/main56.xml
  when "main57": include ../../public/Books/Book6/OPS/main57.xml
  when "main58": include ../../public/Books/Book6/OPS/main58.xml
  when "main59": include ../../public/Books/Book6/OPS/main59.xml
  when "main60": include ../../public/Books/Book6/OPS/main60.xml
  when "main61": include ../../public/Books/Book6/OPS/main61.xml
  default: include ../../public/Books/Book6/OPS/title.xml