case pagetodisplay
  when "title": include ../../Public/Books/Book4/OPS/title.xml
  when "about": include ../../Public/Books/Book4/OPS/about.xml
  when "main0": include ../../Public/Books/Book4/OPS/main0.xml
  when "main1": include ../../Public/Books/Book4/OPS/main1.xml
  when "main2": include ../../Public/Books/Book4/OPS/main2.xml
  when "main3": include ../../Public/Books/Book4/OPS/main3.xml
  when "main4": include ../../Public/Books/Book4/OPS/main4.xml
  when "main5": include ../../Public/Books/Book4/OPS/main5.xml
  when "main6": include ../../Public/Books/Book4/OPS/main6.xml
  when "main7": include ../../Public/Books/Book4/OPS/main7.xml
  when "main8": include ../../Public/Books/Book4/OPS/main8.xml
  when "main9": include ../../Public/Books/Book4/OPS/main9.xml
  when "main10": include ../../Public/Books/Book4/OPS/main10.xml
  when "main11": include ../../Public/Books/Book4/OPS/main11.xml
  when "main12": include ../../Public/Books/Book4/OPS/main12.xml
  when "main13": include ../../Public/Books/Book4/OPS/main13.xml
  when "main14": include ../../Public/Books/Book4/OPS/main14.xml
  when "main15": include ../../Public/Books/Book4/OPS/main15.xml
  when "main16": include ../../Public/Books/Book4/OPS/main16.xml
  when "main17": include ../../Public/Books/Book4/OPS/main17.xml
  when "main18": include ../../Public/Books/Book4/OPS/main18.xml
  when "main19": include ../../Public/Books/Book4/OPS/main19.xml
  when "main20": include ../../Public/Books/Book4/OPS/main20.xml
  when "main21": include ../../Public/Books/Book4/OPS/main21.xml
  when "main22": include ../../Public/Books/Book4/OPS/main22.xml
  when "main23": include ../../Public/Books/Book4/OPS/main23.xml
  when "main24": include ../../Public/Books/Book4/OPS/main24.xml
  when "main25": include ../../Public/Books/Book4/OPS/main25.xml
  when "main26": include ../../Public/Books/Book4/OPS/main26.xml
  when "main27": include ../../Public/Books/Book4/OPS/main27.xml
  when "main28": include ../../Public/Books/Book4/OPS/main28.xml
  when "main29": include ../../Public/Books/Book4/OPS/main29.xml
  when "main30": include ../../Public/Books/Book4/OPS/main30.xml
  when "main31": include ../../Public/Books/Book4/OPS/main31.xml
  when "main32": include ../../Public/Books/Book4/OPS/main32.xml
  when "main33": include ../../Public/Books/Book4/OPS/main33.xml
  when "main34": include ../../Public/Books/Book4/OPS/main34.xml
  when "main35": include ../../Public/Books/Book4/OPS/main35.xml
  when "main36": include ../../Public/Books/Book4/OPS/main36.xml
  when "main37": include ../../Public/Books/Book4/OPS/main37.xml
  when "main38": include ../../Public/Books/Book4/OPS/main38.xml
  when "main39": include ../../Public/Books/Book4/OPS/main39.xml
  default: include ../../Public/Books/Book4/OPS/title.xml