case pagetodisplay 
    when  "part1": include ../../Public/Books/Book3/text/part1.xhtml
    when  "part2": include ../../Public/Books/Book3/text/part2.xhtml
    when  "part3": include ../../Public/Books/Book3/text/part3.xhtml
    when  "part4": include ../../Public/Books/Book3/text/part4.xhtml
    when  "part5": include ../../Public/Books/Book3/text/part5.xhtml
    when  "part6": include ../../Public/Books/Book3/text/part6.xhtml
    when  "part7": include ../../Public/Books/Book3/text/part7.xhtml
    when  "part8": include ../../Public/Books/Book3/text/part8.xhtml
    when  "part9": include ../../Public/Books/Book3/text/part9.xhtml
    when  "part10": include ../../Public/Books/Book3/text/part10.xhtml
    when  "part11": include ../../Public/Books/Book3/text/part11.xhtml
    when  "part12": include ../../Public/Books/Book3/text/part12.xhtml
    when  "part13": include ../../Public/Books/Book3/text/part13.xhtml
    when  "part14": include ../../Public/Books/Book3/text/part14.xhtml
    when  "part15": include ../../Public/Books/Book3/text/part15.xhtml
    when  "part16": include ../../Public/Books/Book3/text/part16.xhtml
    when  "part17": include ../../Public/Books/Book3/text/part17.xhtml
    when  "part18": include ../../Public/Books/Book3/text/part18.xhtml
    when  "part19": include ../../Public/Books/Book3/text/part19.xhtml
    when  "part20": include ../../Public/Books/Book3/text/part20.xhtml
    when  "part21": include ../../Public/Books/Book3/text/part21.xhtml