ul.book_nav_buttons
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part1') Chapter 1
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part2') Chapter 2
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part3') Chapter 3
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part4') Chapter 4
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part5') Chapter 5
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part6') Chapter 6
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part7') Chapter 7
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part8') Chapter 8
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part9') Chapter 9
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part10') Chapter 10
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part11') Chapter 11
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part12') Chapter 12
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part13') Chapter 13
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part14') Chapter 14
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part15') Chapter 15
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part16') Chapter 16
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part17') Chapter 17
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part18') Chapter 18
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part19') Chapter 19
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part20') Chapter 20
        li.book_nav
          a(href='/book' + locals.bookid + '-' + locals.bookname + '/part21') Chapter 21

