case pagetodisplay
  when "title": include ../../Public/Books/Book8/OPS/title.xml
  when "about": include ../../Public/Books/Book8/OPS/about.xml
  when "main1": include ../../Public/Books/Book8/OPS/main1.xml
  when "main2": include ../../Public/Books/Book8/OPS/main2.xml
  when "main3": include ../../Public/Books/Book8/OPS/main3.xml
  when "main4": include ../../Public/Books/Book8/OPS/main4.xml
  when "main5": include ../../Public/Books/Book8/OPS/main5.xml
  when "main6": include ../../Public/Books/Book8/OPS/main6.xml
  when "main7": include ../../Public/Books/Book8/OPS/main7.xml
  when "main8": include ../../Public/Books/Book8/OPS/main8.xml
  when "main9": include ../../Public/Books/Book8/OPS/main9.xml
  when "main10": include ../../Public/Books/Book8/OPS/main10.xml
  when "main11": include ../../Public/Books/Book8/OPS/main11.xml
  when "main12": include ../../Public/Books/Book8/OPS/main12.xml
  when "main13": include ../../Public/Books/Book8/OPS/main13.xml
  when "main14": include ../../Public/Books/Book8/OPS/main14.xml
  when "main15": include ../../Public/Books/Book8/OPS/main15.xml
  when "main16": include ../../Public/Books/Book8/OPS/main16.xml
  when "main17": include ../../Public/Books/Book8/OPS/main17.xml
  when "main18": include ../../Public/Books/Book8/OPS/main18.xml
  when "main19": include ../../Public/Books/Book8/OPS/main19.xml
  when "main20": include ../../Public/Books/Book8/OPS/main20.xml
  when "main21": include ../../Public/Books/Book8/OPS/main21.xml
  when "main22": include ../../Public/Books/Book8/OPS/main22.xml
  when "main23": include ../../Public/Books/Book8/OPS/main23.xml
  when "main24": include ../../Public/Books/Book8/OPS/main24.xml
  when "main25": include ../../Public/Books/Book8/OPS/main25.xml
  when "main26": include ../../Public/Books/Book8/OPS/main26.xml
  when "main27": include ../../Public/Books/Book8/OPS/main27.xml
  when "main28": include ../../Public/Books/Book8/OPS/main28.xml
  when "main29": include ../../Public/Books/Book8/OPS/main29.xml
  when "main30": include ../../Public/Books/Book8/OPS/main30.xml
  when "main31": include ../../Public/Books/Book8/OPS/main31.xml
  when "main32": include ../../Public/Books/Book8/OPS/main32.xml
  when "main33": include ../../Public/Books/Book8/OPS/main33.xml
  when "main34": include ../../Public/Books/Book8/OPS/main34.xml
  when "main35": include ../../Public/Books/Book8/OPS/main35.xml
  when "main36": include ../../Public/Books/Book8/OPS/main36.xml
  when "main37": include ../../Public/Books/Book8/OPS/main37.xml
  when "main38": include ../../Public/Books/Book8/OPS/main38.xml
  when "main39": include ../../Public/Books/Book8/OPS/main39.xml
  when "main40": include ../../Public/Books/Book8/OPS/main40.xml
  when "main41": include ../../Public/Books/Book8/OPS/main41.xml
  when "main42": include ../../Public/Books/Book8/OPS/main42.xml
  when "main43": include ../../Public/Books/Book8/OPS/main43.xml
  when "main44": include ../../Public/Books/Book8/OPS/main44.xml
  when "main45": include ../../Public/Books/Book8/OPS/main45.xml
  when "main46": include ../../Public/Books/Book8/OPS/main46.xml
  when "main47": include ../../Public/Books/Book8/OPS/main47.xml
  when "main48": include ../../Public/Books/Book8/OPS/main48.xml
  when "main49": include ../../Public/Books/Book8/OPS/main49.xml
  when "main50": include ../../Public/Books/Book8/OPS/main50.xml
  when "main51": include ../../Public/Books/Book8/OPS/main51.xml
  when "main52": include ../../Public/Books/Book8/OPS/main52.xml
  when "main53": include ../../Public/Books/Book8/OPS/main53.xml
  when "main54": include ../../Public/Books/Book8/OPS/main54.xml
  when "main55": include ../../Public/Books/Book8/OPS/main55.xml
  when "main56": include ../../Public/Books/Book8/OPS/main56.xml
  when "main57": include ../../Public/Books/Book8/OPS/main57.xml
  when "main58": include ../../Public/Books/Book8/OPS/main58.xml
  when "main59": include ../../Public/Books/Book8/OPS/main59.xml
  when "main60": include ../../Public/Books/Book8/OPS/main60.xml
  when "main61": include ../../Public/Books/Book8/OPS/main61.xml
  when "main62": include ../../Public/Books/Book8/OPS/main62.xml
  when "main63": include ../../Public/Books/Book8/OPS/main63.xml
  when "main64": include ../../Public/Books/Book8/OPS/main64.xml
  when "main65": include ../../Public/Books/Book8/OPS/main65.xml
  when "main66": include ../../Public/Books/Book8/OPS/main66.xml
  when "main67": include ../../Public/Books/Book8/OPS/main67.xml
  when "main68": include ../../Public/Books/Book8/OPS/main68.xml
  when "main69": include ../../Public/Books/Book8/OPS/main69.xml
  when "main70": include ../../Public/Books/Book8/OPS/main70.xml
  when "main71": include ../../Public/Books/Book8/OPS/main71.xml
  when "main72": include ../../Public/Books/Book8/OPS/main72.xml
  when "main73": include ../../Public/Books/Book8/OPS/main73.xml
  when "main74": include ../../Public/Books/Book8/OPS/main74.xml
  when "main75": include ../../Public/Books/Book8/OPS/main75.xml
  when "main76": include ../../Public/Books/Book8/OPS/main76.xml
  when "main77": include ../../Public/Books/Book8/OPS/main77.xml
  when "main78": include ../../Public/Books/Book8/OPS/main78.xml
  when "main79": include ../../Public/Books/Book8/OPS/main79.xml
  when "main80": include ../../Public/Books/Book8/OPS/main80.xml
  when "main81": include ../../Public/Books/Book8/OPS/main81.xml
  when "main82": include ../../Public/Books/Book8/OPS/main82.xml
  when "main83": include ../../Public/Books/Book8/OPS/main83.xml
  when "main84": include ../../Public/Books/Book8/OPS/main84.xml
  when "main85": include ../../Public/Books/Book8/OPS/main85.xml
  when "main86": include ../../Public/Books/Book8/OPS/main86.xml
  when "main87": include ../../Public/Books/Book8/OPS/main87.xml
  when "main88": include ../../Public/Books/Book8/OPS/main88.xml
  when "main89": include ../../Public/Books/Book8/OPS/main89.xml
  when "main90": include ../../Public/Books/Book8/OPS/main90.xml
  when "main91": include ../../Public/Books/Book8/OPS/main91.xml
  when "main92": include ../../Public/Books/Book8/OPS/main92.xml
  when "main93": include ../../Public/Books/Book8/OPS/main93.xml
  when "main94": include ../../Public/Books/Book8/OPS/main94.xml
  when "main95": include ../../Public/Books/Book8/OPS/main95.xml
  when "main96": include ../../Public/Books/Book8/OPS/main96.xml
  when "main97": include ../../Public/Books/Book8/OPS/main97.xml
  when "main98": include ../../Public/Books/Book8/OPS/main98.xml
  when "main99": include ../../Public/Books/Book8/OPS/main99.xml
  when "main100": include ../../Public/Books/Book8/OPS/main100.xml
  when "main101": include ../../Public/Books/Book8/OPS/main101.xml
  when "main102": include ../../Public/Books/Book8/OPS/main102.xml
  when "main103": include ../../Public/Books/Book8/OPS/main103.xml
  when "main104": include ../../Public/Books/Book8/OPS/main104.xml
  when "main105": include ../../Public/Books/Book8/OPS/main105.xml
  when "main106": include ../../Public/Books/Book8/OPS/main106.xml
  when "main107": include ../../Public/Books/Book8/OPS/main107.xml
  when "main108": include ../../Public/Books/Book8/OPS/main108.xml
  when "main109": include ../../Public/Books/Book8/OPS/main109.xml
  when "main110": include ../../Public/Books/Book8/OPS/main110.xml
  when "main111": include ../../Public/Books/Book8/OPS/main111.xml
  when "main112": include ../../Public/Books/Book8/OPS/main112.xml
  when "main113": include ../../Public/Books/Book8/OPS/main113.xml
  when "main114": include ../../Public/Books/Book8/OPS/main114.xml
  when "main115": include ../../Public/Books/Book8/OPS/main115.xml
  when "main116": include ../../Public/Books/Book8/OPS/main116.xml
  when "main117": include ../../Public/Books/Book8/OPS/main117.xml
  default: include ../../Public/Books/Book8/OPS/title.xml