#nav
    ul.book_nav_buttons
        li.book_nav
          a(href='/' + locals.username + '/book' + locals.bookid + '-' + locals.bookname + '/about') About
        li.book_nav
          a(href='/' + locals.username + '/book' + locals.bookid + '-' + locals.bookname + '/main0') Note
        li.book_nav
          a(href='/' + locals.username + '/book' + locals.bookid + '-' + locals.bookname + '/main1') Introduction
        li.book_nav
          a(href='/' + locals.username + '/book' + locals.bookid + '-' + locals.bookname + '/main2') The Einstein Theory of Relativity
        li.book_nav
          a(href='/' + locals.username + '/book' + locals.bookid + '-' + locals.bookname + '/main3') The Earth as a Moving Car
        li.book_nav
          a(href='/' + locals.username + '/book' + locals.bookid + '-' + locals.bookname + '/main4') Einstein's Departure
        li.book_nav
          a(href='/' + locals.username + '/book' + locals.bookid + '-' + locals.bookname + '/main5') New System or Co-Ordinates
        li.book_nav
          a(href='/' + locals.username + '/book' + locals.bookid + '-' + locals.bookname + '/main6') Deflection of Light
        li.book_nav
          a(href='/' + locals.username + '/book' + locals.bookid + '-' + locals.bookname + '/main7') Difficulty Exaggerated