case pagetodisplay
  when "title": include ../../Public/Books/Book7/OPS/title.xml
  when "about": include ../../Public/Books/Book7/OPS/about.xml
  when "main0": include ../../Public/Books/Book7/OPS/main0.xml
  when "main0": include ../../Public/Books/Book7/OPS/main0.xml
  when "main1": include ../../Public/Books/Book7/OPS/main1.xml
  when "main2": include ../../Public/Books/Book7/OPS/main2.xml
  when "main3": include ../../Public/Books/Book7/OPS/main3.xml
  when "main4": include ../../Public/Books/Book7/OPS/main4.xml
  when "main5": include ../../Public/Books/Book7/OPS/main5.xml
  when "main6": include ../../Public/Books/Book7/OPS/main6.xml
  when "main7": include ../../Public/Books/Book7/OPS/main7.xml
  when "main7": include ../../Public/Books/Book7/OPS/main7.xml
  when "main8": include ../../Public/Books/Book7/OPS/main8.xml
  when "main9": include ../../Public/Books/Book7/OPS/main9.xml
  when "main10": include ../../Public/Books/Book7/OPS/main10.xml
  when "main11": include ../../Public/Books/Book7/OPS/main11.xml
  when "main11": include ../../Public/Books/Book7/OPS/main11.xml
  when "main12": include ../../Public/Books/Book7/OPS/main12.xml
  when "main13": include ../../Public/Books/Book7/OPS/main13.xml
  when "main14": include ../../Public/Books/Book7/OPS/main14.xml
  when "main15": include ../../Public/Books/Book7/OPS/main15.xml
  when "main16": include ../../Public/Books/Book7/OPS/main16.xml
  when "main17": include ../../Public/Books/Book7/OPS/main17.xml
  when "main17": include ../../Public/Books/Book7/OPS/main17.xml
  when "main18": include ../../Public/Books/Book7/OPS/main18.xml
  when "main19": include ../../Public/Books/Book7/OPS/main19.xml
  when "main20": include ../../Public/Books/Book7/OPS/main20.xml
  when "main20": include ../../Public/Books/Book7/OPS/main20.xml
  when "main21": include ../../Public/Books/Book7/OPS/main21.xml
  when "main22": include ../../Public/Books/Book7/OPS/main22.xml
  when "main23": include ../../Public/Books/Book7/OPS/main23.xml
  when "main24": include ../../Public/Books/Book7/OPS/main24.xml
  when "main25": include ../../Public/Books/Book7/OPS/main25.xml
  when "main26": include ../../Public/Books/Book7/OPS/main26.xml
  default: include ../../Public/Books/Book7/OPS/title.xml