div
  ul.page_nav_buttons
    li.page_nav
      a.active(href='/' + locals.username + '/book' + locals.bookid + '=' + locals.bookname) #{locals.bookname}
    li.page_nav
      a(href='/' + locals.username + '/home') Bookshelf
    li.page_nav
      //need to link to privacy settings for book
      a(href='/settings') Settings
    li.right.page_nav
      a.btn.btn-info.btn-lg(href="/logout")
        span.glyphicon.glyphicon-log-out   Logout