doctype html
html(lang='en')
  include .includes/head.jade
  body
    include .includes/page-nav-bar.jade

    include annotations.jade

    include .includes/Book1TableOfContents.jade

    if(pagetodisplay == "title")
      include ../Public/Books/Book1/OPS/title.xml
    else if(pagetodisplay == "about")
      include ../Public/Books/Book1/OPS/about.xml
    else if(pagetodisplay == "main1")
      include ../Public/Books/Book1/OPS/main1.xml
    else if(pagetodisplay == "main2")
      include ../Public/Books/Book1/OPS/main2.xml
    else if(pagetodisplay == "main3")
      include ../Public/Books/Book1/OPS/main3.xml
    else if(pagetodisplay == "main4")
      include ../Public/Books/Book1/OPS/main4.xml
    else if(pagetodisplay == "main5")
      include ../Public/Books/Book1/OPS/main5.xml
    else if(pagetodisplay == "main6")
      include ../Public/Books/Book1/OPS/main6.xml
    else if(pagetodisplay == "main7")
      include ../Public/Books/Book1/OPS/main7.xml
    else if(pagetodisplay == "main8")
      include ../Public/Books/Book1/OPS/main8.xml
    else if(pagetodisplay == "main9")
      include ../Public/Books/Book1/OPS/main9.xml
    else if(pagetodisplay == "main10")
      include ../Public/Books/Book1/OPS/main10.xml
    else if(pagetodisplay == "main11")
      include ../Public/Books/Book1/OPS/main11.xml
    else if(pagetodisplay == "main12")
      include ../Public/Books/Book1/OPS/main12.xml
    else if(pagetodisplay == "main13")
      include ../Public/Books/Book1/OPS/main13.xml
    else if(pagetodisplay == "main14")
      include ../Public/Books/Book1/OPS/main14.xml
    else if(pagetodisplay == "main15")
      include ../Public/Books/Book1/OPS/main15.xml
    else if(pagetodisplay == "main16")
      include ../Public/Books/Book1/OPS/main16.xml
    else if(pagetodisplay == "main17")
      include ../Public/Books/Book1/OPS/main17.xml
    else if(pagetodisplay == "main18")
      include ../Public/Books/Book1/OPS/main18.xml
    else if(pagetodisplay == "main19")
      include ../Public/Books/Book1/OPS/main19.xml
    else if(pagetodisplay == "main20")
      include ../Public/Books/Book1/OPS/main20.xml
    else if(pagetodisplay == "main21")
      include ../Public/Books/Book1/OPS/main21.xml
    else if(pagetodisplay == "main22")
      include ../Public/Books/Book1/OPS/main22.xml
    else if(pagetodisplay == "main23")
      include ../Public/Books/Book1/OPS/main23.xml
    else if(pagetodisplay == "main24")
      include ../Public/Books/Book1/OPS/main24.xml
    else if(pagetodisplay == "main25")
      include ../Public/Books/Book1/OPS/main25.xml
    else if(pagetodisplay == "main26")
      include ../Public/Books/Book1/OPS/main26.xml
    else if(pagetodisplay == "main27")
      include ../Public/Books/Book1/OPS/main27.xml
    else if(pagetodisplay == "main28")
      include ../Public/Books/Book1/OPS/main28.xml
    else if(pagetodisplay == "main29")
      include ../Public/Books/Book1/OPS/main29.xml
    else if(pagetodisplay == "similar")
      include ../Public/Books/Book1/OPS/similar.xml


    //#book_display
    //h3.heading
    //    | Book Display
    //    p
    //     input(type='button', value='Back to Book', onclick="location.href = 'http://localhost:80/'")
    //    div