
.thumbnail {
    position:relative;
    overflow:hidden;
    width:200px;
}
/*http://a4.mzstatic.com/us/r30/Purple/v4/9c/56/6f/9c566fdf-980d-d6c0-de39-016cae8f1757/screen1136x1136.jpeg
http://i.imgur.com/r2gusz2.jpg
http://i.imgur.com/6UNQ3PZ.jpg
http://i.imgur.com/b4h7oAX.jpg
*/
body{
  background: url('http://i.imgur.com/b4h7oAX.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(41, 32, 40, 0.8);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
#caption{
  top:0;
}

#thumbimages{
  width:200px;
  height:250px;
}

.header {
	background-color:#00cc99;
	color:white;
	text-align:center;
	padding:0px;
  margin:0px;
}

.footer{
  background-color: rgba(rgba(199, 200, 204, 0.50);
  color:white !important;
  text-align: center;
  font-size: 10px;
  position:fixed;
 left:0px;
 bottom:0px;
 height:30px;
 width:100%;
}

